force-app/main/default/flows/Account_Blocked_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_for_3_days_to_block_each</name>
        <label>Send email for 3 days to block</label>
        <locationX>2772</locationX>
        <locationY>3888</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_email_for_each_user</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_3_days_notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Send_email_for_each_user</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Label.SujectEmailBlockedAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_email_for_7_days_to_block_0_0_0</name>
        <label>Send email for 7 days to block</label>
        <locationX>1496</locationX>
        <locationY>3864</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>send_email_for_each_user_7_days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_7_days_notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>send_email_for_each_user_7_days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Label.SujectEmailBlockedAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_3_Days_Blocked_0</name>
        <label>Send Notification 3 Days Blocked</label>
        <locationX>2552</locationX>
        <locationY>3156</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Delete_User_Id_From_Collection_3_Days_Notify</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML1n000000KytGGAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Email_3_days_notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Label.NotificationTitleBlockedAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIdNotification3Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Loop_through_selected_Accounts.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_7_Days_Blocked</name>
        <label>Send Notification 7 Days Blocked</label>
        <locationX>1276</locationX>
        <locationY>3132</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Delete_User_Id_From_Collection_7_Days_Notify</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML1n000000KytGGAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Email_7_days_notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Label.NotificationTitleBlockedAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIdNotification7Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Loop_through_selected_Accounts.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Directors_For_Notification</name>
        <label>Add Directors For Notification</label>
        <locationX>704</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>UserIdNotification7Days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_User_Directors_For_Notification.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Duplicates_SM_EU_Directors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Directors_For_Notification_0</name>
        <label>Add Directors For Notification</label>
        <locationX>2552</locationX>
        <locationY>1956</locationY>
        <assignmentItems>
            <assignToReference>UserIdNotification3Days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_User_Directors_For_Notification_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Duplicates_SM_EU_Directors_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Directors_SM_EU_for_Email_Notification</name>
        <label>Add Directors SM EU for Email Notification</label>
        <locationX>792</locationX>
        <locationY>2064</locationY>
        <assignmentItems>
            <assignToReference>Email_7_days_to_block_account</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_User_Directors_For_Notification.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_Directors_For_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Directors_SM_EU_for_Email_Notification_0</name>
        <label>Add Directors SM EU for Email Notification</label>
        <locationX>2640</locationX>
        <locationY>2172</locationY>
        <assignmentItems>
            <assignToReference>Email_3_days_to_block_account</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_User_Directors_For_Notification_0.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_Directors_For_Notification_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Directors_SM_Ukraine_for_Email_Notification</name>
        <label>Add Directors SM Ukraine for Email Notification</label>
        <locationX>1584</locationX>
        <locationY>2064</locationY>
        <assignmentItems>
            <assignToReference>Email_7_days_to_block_account</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Ukraine_User_Directors_For_Notification.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ukraine_User_Directors_For_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Directors_SM_Ukraine_for_Email_Notification1</name>
        <label>Add Directors SM Ukraine for Email Notification</label>
        <locationX>3432</locationX>
        <locationY>2172</locationY>
        <assignmentItems>
            <assignToReference>Email_3_days_to_block_account</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Ukraine_User_Directors_For_Notification1.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ukraine_User_Directors_For_Notification1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add manager data for notification 7 days to be blocked</description>
        <name>Add_manager_data_for_notification_7</name>
        <label>Add manager data for notification 7</label>
        <locationX>792</locationX>
        <locationY>2640</locationY>
        <assignmentItems>
            <assignToReference>Email_7_days_to_block_account</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>set_emails_other_managers_for_receive_message_7.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIdNotification7Days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>set_emails_other_managers_for_receive_message_7.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_emails_other_managers_for_receive_message_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_manager_email_for_collection_0</name>
        <label>add manager email for collection</label>
        <locationX>2640</locationX>
        <locationY>2748</locationY>
        <assignmentItems>
            <assignToReference>Email_3_days_to_block_account</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>set_emails_other_managers_for_receive_message_0.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIdNotification3Days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>set_emails_other_managers_for_receive_message_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_emails_other_managers_for_receive_message_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_other_recipients_3_days</name>
        <label>Add other recipients</label>
        <locationX>3344</locationX>
        <locationY>2532</locationY>
        <assignmentItems>
            <assignToReference>Email_3_days_to_block_account</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>natalya.chernenko@m.interpipe.biz</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_User_id_For_notification_3_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_other_recipients_7_days</name>
        <label>Add other recipients</label>
        <locationX>1496</locationX>
        <locationY>2424</locationY>
        <assignmentItems>
            <assignToReference>Email_7_days_to_block_account</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>natalya.chernenko@m.interpipe.biz</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_id_For_notification_7_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_other_recipients_EU_3_days</name>
        <label>Add other recipients EU</label>
        <locationX>2552</locationX>
        <locationY>2940</locationY>
        <assignmentItems>
            <assignToReference>Email_3_days_to_block_account</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Aleksandr.Tilnii@m.interpipe.biz</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_id_For_notification_3_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_other_recipients_EU_7_days</name>
        <label>Add other recipients EU</label>
        <locationX>704</locationX>
        <locationY>2832</locationY>
        <assignmentItems>
            <assignToReference>Email_7_days_to_block_account</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Aleksandr.Tilnii@m.interpipe.biz</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_id_For_notification_7_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_3_Days_To_Blocked_0</name>
        <label>Add to 3 Days To Blocked</label>
        <locationX>2640</locationX>
        <locationY>3480</locationY>
        <assignmentItems>
            <assignToReference>Email_3_days_to_block_account</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_selected_Accounts.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_addresses_3_days_is_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_7_Days_To_Blocked</name>
        <label>Add To 7 Days To Blocked</label>
        <locationX>1364</locationX>
        <locationY>3456</locationY>
        <assignmentItems>
            <assignToReference>Email_7_days_to_block_account</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_selected_Accounts.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_addresses_for_email_empty_7_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ukraine_Directors_For_Notification</name>
        <label>Add Ukraine Directors For Notification</label>
        <locationX>1496</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>UserIdNotification7Days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Ukraine_User_Directors_For_Notification.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Duplicates_SM_Ukraine_Directors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ukraine_Directors_For_Notification1</name>
        <label>Add Ukraine Directors For Notification</label>
        <locationX>3344</locationX>
        <locationY>1956</locationY>
        <assignmentItems>
            <assignToReference>UserIdNotification3Days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Ukraine_User_Directors_For_Notification1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Duplicates_SM_Ukraine_Directors1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_id_For_notification_3_days</name>
        <label>Add User id For notification 3 days</label>
        <locationX>2552</locationX>
        <locationY>3048</locationY>
        <assignmentItems>
            <assignToReference>UserIdNotification3Days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_selected_Accounts.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_3_Days_Blocked_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_id_For_notification_7_days</name>
        <label>Add User id For notification 7 days</label>
        <locationX>1276</locationX>
        <locationY>3024</locationY>
        <assignmentItems>
            <assignToReference>UserIdNotification7Days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_selected_Accounts.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_7_Days_Blocked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Directors_Of_SM_Europe</name>
        <label>Assign Directors Of SM Europe</label>
        <locationX>616</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>DirectorsOfSMEurope</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Directors_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_FetchedDirectorsSMEu_Boolean</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Directors_Of_SM_Europe_0</name>
        <label>Assign Directors Of SM Europe</label>
        <locationX>2464</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>DirectorsOfSMEurope</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Directors_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_FetchedDirectorsSMEu_Boolean_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Directors_Of_SM_Ukraine</name>
        <label>Assign Directors Of SM Ukraine</label>
        <locationX>1408</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>DirectorsOfSMUkraine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Directors_SM_Ukraine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_FetchedUkraineSeniorSalesOfficer_Boolean</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Directors_Of_SM_Ukraine1</name>
        <label>Assign Directors Of SM Ukraine</label>
        <locationX>3256</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>DirectorsOfSMUkraine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Directors_SM_Ukraine1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_FetchedUkraineSeniorSalesOfficer_Boolean1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_FetchedDirectorsSMEu_Boolean</name>
        <label>Change FetchedDirectorsSMEu Boolean</label>
        <locationX>616</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>FetchedChiefSalesOfficer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_Directors_For_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_FetchedDirectorsSMEu_Boolean_0</name>
        <label>Change FetchedDirectorsSMEu Boolean</label>
        <locationX>2464</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>FetchedChiefSalesOfficer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_Directors_For_Notification_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_FetchedUkraineSeniorSalesOfficer_Boolean</name>
        <label>Change FetchedUkraineSeniorSalesOfficer Boolean</label>
        <locationX>1408</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>FetchedUkraineSeniorSalesOfficer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ukraine_User_Directors_For_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_FetchedUkraineSeniorSalesOfficer_Boolean1</name>
        <label>Change FetchedUkraineSeniorSalesOfficer Boolean</label>
        <locationX>3256</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>FetchedUkraineSeniorSalesOfficer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ukraine_User_Directors_For_Notification1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delete_User_Id_From_Collection_3_Days_Notify</name>
        <label>Delete User Id From Collection 3 Days Notify</label>
        <locationX>2552</locationX>
        <locationY>3264</locationY>
        <assignmentItems>
            <assignToReference>UserIdNotification3Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyArray</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_duplicated_emails_3_days_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delete_User_Id_From_Collection_7_Days_Notify</name>
        <label>Delete User Id From Collection 7 Days Notify</label>
        <locationX>1276</locationX>
        <locationY>3240</locationY>
        <assignmentItems>
            <assignToReference>UserIdNotification7Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyArray</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_all_addresses_3_days</name>
        <label>Remove all addresses 3 days</label>
        <locationX>2552</locationX>
        <locationY>4164</locationY>
        <assignmentItems>
            <assignToReference>Email_3_days_to_block_account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyArray</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_all_addresses_7_days</name>
        <label>Remove all addresses 7 days</label>
        <locationX>1276</locationX>
        <locationY>4140</locationY>
        <assignmentItems>
            <assignToReference>Email_7_days_to_block_account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyArray</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_Accounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Fetched_Ukraine_Users</name>
        <label>Already Fetched Ukraine Users</label>
        <locationX>1320</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Get_User_Directors_SM_Ukraine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserChiefUkraineRecordsFethed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchedUkraineSeniorSalesOfficer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Ukraine_User_Directors_For_Notification</targetReference>
            </connector>
            <label>UserChiefUkraineRecordsFethed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_Fetched_Ukraine_Users1</name>
        <label>Fetched Ukraine Users</label>
        <locationX>3168</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Get_User_Directors_SM_Ukraine1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserChiefUkraineRecordsFethed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchedUkraineSeniorSalesOfficer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Ukraine_User_Directors_For_Notification1</targetReference>
            </connector>
            <label>UserChiefUkraineRecordsFethed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_Fetched_Users</name>
        <label>Already Fetched Users</label>
        <locationX>528</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Get_User_Directors_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserChiefEURecordsFethed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchedChiefSalesOfficer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_Directors_For_Notification</targetReference>
            </connector>
            <label>UserChiefEURecordsFethed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_Fetched_Users_0</name>
        <label>Already Fetched Users</label>
        <locationX>2376</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Get_User_Directors_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Directors SM EU Not fetched</defaultConnectorLabel>
        <rules>
            <name>UserChiefEURecordsFethed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchedChiefSalesOfficer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_Directors_For_Notification_0</targetReference>
            </connector>
            <label>UserChiefEURecordsFethed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_3_days_to_be_blocked</name>
        <label>Check 3 days to be blocked</label>
        <locationX>3498</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Loop_through_selected_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X3_days_to_be_blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Days_To_Blocked_Period</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_Role_0_0</targetReference>
            </connector>
            <label>3 days to be blocked</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check, if Account will be blocked during 7 days</description>
        <name>Check_days_to_blocked_0</name>
        <label>Check days to blocked</label>
        <locationX>2387</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Check_3_days_to_be_blocked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X7_days_to_be_blocked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Days_To_Blocked_Period</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_Role_0</targetReference>
            </connector>
            <label>7 days to be blocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_duplicated_emails_3_days_0</name>
        <label>Check for duplicated emails 3 days</label>
        <locationX>2552</locationX>
        <locationY>3372</locationY>
        <defaultConnector>
            <targetReference>Add_to_3_Days_To_Blocked_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>duplicated3days_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_3_days_to_block_account</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_selected_Accounts.Owner.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_addresses_3_days_is_empty</targetReference>
            </connector>
            <label>duplicated 3 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_duplicates</name>
        <label>check for duplicates</label>
        <locationX>1276</locationX>
        <locationY>3348</locationY>
        <defaultConnector>
            <targetReference>Add_To_7_Days_To_Blocked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_7_days_to_block_account</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_selected_Accounts.Owner.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_addresses_for_email_empty_7_days</targetReference>
            </connector>
            <label>Duplicated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Duplicates_SM_EU_Directors</name>
        <label>Check For Duplicates SM EU Directors</label>
        <locationX>704</locationX>
        <locationY>1956</locationY>
        <defaultConnector>
            <targetReference>Add_Directors_SM_EU_for_Email_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicated_Email_SM_EU_Directore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_7_days_to_block_account</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Add_User_Directors_For_Notification.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_Directors_For_Notification</targetReference>
            </connector>
            <label>Duplicated Email SM EU Directore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Duplicates_SM_EU_Directors_0</name>
        <label>Check For Duplicates SM EU Directors</label>
        <locationX>2552</locationX>
        <locationY>2064</locationY>
        <defaultConnector>
            <targetReference>Add_Directors_SM_EU_for_Email_Notification_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicated_Email_SM_EU_Directore_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_3_days_to_block_account</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Add_User_Directors_For_Notification_0.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_Directors_For_Notification_0</targetReference>
            </connector>
            <label>Duplicated Email SM EU Directore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Duplicates_SM_Ukraine_Directors</name>
        <label>Check For Duplicates SM Ukraine Directors</label>
        <locationX>1496</locationX>
        <locationY>1956</locationY>
        <defaultConnector>
            <targetReference>Add_Directors_SM_Ukraine_for_Email_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicated_Email_SM_Ukaine_Director</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_7_days_to_block_account</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Add_Ukraine_User_Directors_For_Notification.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Ukraine_User_Directors_For_Notification</targetReference>
            </connector>
            <label>Duplicated Email SM Ukaine Director</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Duplicates_SM_Ukraine_Directors1</name>
        <label>Check For Duplicates SM Ukraine Directors</label>
        <locationX>3344</locationX>
        <locationY>2064</locationY>
        <defaultConnector>
            <targetReference>Add_Directors_SM_Ukraine_for_Email_Notification1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicated_Email_SM_Ukaine_Director1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_3_days_to_block_account</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Add_Ukraine_User_Directors_For_Notification1.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Ukraine_User_Directors_For_Notification1</targetReference>
            </connector>
            <label>Duplicated Email SM Ukaine Director</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if addresses 3 days is empty for notification</description>
        <name>Check_if_addresses_3_days_is_empty</name>
        <label>Check if addresses 3 days is empty</label>
        <locationX>2552</locationX>
        <locationY>3672</locationY>
        <defaultConnector>
            <targetReference>Send_email_for_each_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>addresses_3_days_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_3_days_to_block_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_all_addresses_3_days</targetReference>
            </connector>
            <label>addresses 3 days is empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if addresses for email is empty for 7 days notification</description>
        <name>Check_if_addresses_for_email_empty_7_days</name>
        <label>Check if addresses for email empty 7 days</label>
        <locationX>1276</locationX>
        <locationY>3648</locationY>
        <defaultConnector>
            <targetReference>send_email_for_each_user_7_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>addresses_7_days_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_7_days_to_block_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_all_addresses_7_days</targetReference>
            </connector>
            <label>addresses 7 days is empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if user is Sales Manager Europe</description>
        <name>Check_User_Directors_SM_EU</name>
        <label>Check User Directors SM EU</label>
        <locationX>704</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Get_Other_Managers_For_Send_Email_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_have_Directors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Role_Records_SM_EU.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Fetched_Users</targetReference>
            </connector>
            <label>User have Directors</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if user is Sales Manager Europe</description>
        <name>Check_User_Directors_SM_EU_0</name>
        <label>Check User Directors SM EU</label>
        <locationX>2552</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Get_Other_Managers_For_Send_Email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_have_Directors_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Role_Records_SM_EU.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Fetched_Users_0</targetReference>
            </connector>
            <label>User have Directors</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if user is Sales Manager Europe</description>
        <name>Check_User_Directors_SM_Ukraine1</name>
        <label>Check User Directors SM Ukraine</label>
        <locationX>3344</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Add_other_recipients_3_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_have_Ukraine_Directors1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Role_Records_SM_Ukraine.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Fetched_Ukraine_Users1</targetReference>
            </connector>
            <label>User have Ukraine Directors</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Role_0</name>
        <label>Check User Role</label>
        <locationX>1276</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_through_selected_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Right_Role_0</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Role_Records_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Role_Records_SM_EU.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRoleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_Directors_SM_EU</targetReference>
            </connector>
            <label>Right Role</label>
        </rules>
        <rules>
            <name>Right_Role_for_Ukraine</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Role_Records_SM_Ukraine.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Role_Records_Ukraine.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckUserDirectorsSMUkraine</targetReference>
            </connector>
            <label>Right Role for Ukraine</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Role_0_0</name>
        <label>Check User Role</label>
        <locationX>3124</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Loop_through_selected_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Right_Role_0_0</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Role_Records_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Role_Records_SM_EU.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRoleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_Directors_SM_EU_0</targetReference>
            </connector>
            <label>Right Role</label>
        </rules>
        <rules>
            <name>Right_Role_for_Ukraine1</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Role_Records_SM_Ukraine.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Role_Records_Ukraine.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_Directors_SM_Ukraine1</targetReference>
            </connector>
            <label>Right Role for Ukraine</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if user is Sales Manager Europe</description>
        <name>CheckUserDirectorsSMUkraine</name>
        <label>Check User Directors SM Ukraine</label>
        <locationX>1496</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Add_other_recipients_7_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_have_Ukraine_Directors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_selected_Accounts.Owner.UserRole.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Role_Records_SM_Ukraine.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Fetched_Ukraine_Users</targetReference>
            </connector>
            <label>User have Ukraine Directors</label>
        </rules>
    </decisions>
    <description>Remove User and Fix IsActive Logic</description>
    <environments>Default</environments>
    <formulas>
        <name>Email_3_days_notification</name>
        <dataType>String</dataType>
        <expression>{!$Label.NotificationBodyPart1} &amp;&quot; &quot;&amp; {!Loop_through_selected_Accounts.Name} &amp; &quot; &quot; &amp; {!$Label.NotificationBodyPart2Day3}  &amp; &quot; &quot; &amp; TEXT({!Loop_through_selected_Accounts.Balance__c}) &amp; &quot; USD&quot; &amp; BR() &amp; {!$Label.NotificationAccountLink}&amp;{!Loop_through_selected_Accounts.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <description>body of email for 7 days notification</description>
        <name>Email_7_days_notification</name>
        <dataType>String</dataType>
        <expression>{!$Label.NotificationBodyPart1} &amp;&quot; &quot;&amp; {!Loop_through_selected_Accounts.Name} &amp; &quot; &quot; &amp; {!$Label.NotificationBodyPart1Day7}  &amp; &quot; &quot; &amp; TEXT({!Loop_through_selected_Accounts.Balance__c})&amp; &quot; USD&quot; &amp; BR() &amp; {!$Label.NotificationAccountLink}&amp;{!Loop_through_selected_Accounts.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <description>Check difference between today and blocked date</description>
        <name>Find_Days_To_Blocked_Period</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_selected_Accounts.BlockDate__c} - TODAY()</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Account Blocked Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Blocked Notification (25-03-2025)_v3</label>
    <loops>
        <name>Add_Ukraine_User_Directors_For_Notification</name>
        <label>Add Ukraine User Directors For Notification</label>
        <locationX>1320</locationX>
        <locationY>1740</locationY>
        <collectionReference>DirectorsOfSMUkraine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Ukraine_Directors_For_Notification</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_other_recipients_7_days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Add_Ukraine_User_Directors_For_Notification1</name>
        <label>Add Ukraine User Directors For Notification</label>
        <locationX>3168</locationX>
        <locationY>1848</locationY>
        <collectionReference>DirectorsOfSMUkraine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Ukraine_Directors_For_Notification1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_other_recipients_3_days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Add_User_Directors_For_Notification</name>
        <label>Add User Directors For Notification</label>
        <locationX>528</locationX>
        <locationY>1740</locationY>
        <collectionReference>DirectorsOfSMEurope</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Directors_For_Notification</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Other_Managers_For_Send_Email_7</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Add_User_Directors_For_Notification_0</name>
        <label>Add User Directors For Notification</label>
        <locationX>2376</locationX>
        <locationY>1848</locationY>
        <collectionReference>Get_User_Directors_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Directors_For_Notification_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Other_Managers_For_Send_Email_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_selected_Accounts</name>
        <label>Loop through selected Accounts</label>
        <locationX>176</locationX>
        <locationY>792</locationY>
        <collectionReference>Get_Potencional_Blocked_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_days_to_blocked_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Send_email_for_each_user</name>
        <label>Send email for each user</label>
        <locationX>2684</locationX>
        <locationY>3780</locationY>
        <collectionReference>Email_3_days_to_block_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_email_for_3_days_to_block_each</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_all_addresses_3_days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>send_email_for_each_user_7_days</name>
        <label>Send email for each user 7 days</label>
        <locationX>1408</locationX>
        <locationY>3756</locationY>
        <collectionReference>Email_7_days_to_block_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_email_for_7_days_to_block_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_all_addresses_7_days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>set_emails_other_managers_for_receive_message_0</name>
        <label>set emails other managers for receive message</label>
        <locationX>2552</locationX>
        <locationY>2640</locationY>
        <collectionReference>Get_Other_Managers_For_Send_Email_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_manager_email_for_collection_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_other_recipients_EU_3_days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>set_emails_other_managers_for_receive_message_7</name>
        <label>set emails other managers for receive message 7</label>
        <locationX>704</locationX>
        <locationY>2532</locationY>
        <collectionReference>Get_Other_Managers_For_Send_Email_7</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_manager_data_for_notification_7</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_other_recipients_EU_7_days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Other_Managers_For_Send_Email_0</name>
        <label>Get Other Managers For Send Email</label>
        <locationX>2552</locationX>
        <locationY>2532</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_emails_other_managers_for_receive_message_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29 OR 30 OR 31 OR 32 OR 33 OR 34 OR 35 OR 36)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56093</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55995</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>54754</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55857</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58169</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56235</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58199</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58222</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58225</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58103</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56265</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55479</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>54751</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>51927</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58199</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56093</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58394</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56265</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58335</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56235</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55479</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56056</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58369</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58222</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58169</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58179</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58103</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55995</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58369</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58335</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58567</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58636</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58639</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>47329</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56056</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Managers_For_Send_Email_7</name>
        <label>Get Other Managers For Send Email 7</label>
        <locationX>704</locationX>
        <locationY>2424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_emails_other_managers_for_receive_message_7</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29 OR 30 OR 31 OR 32 OR 33 OR 34 OR 35 OR 36 OR 37 )</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56093</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55995</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>54754</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55857</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55998</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58169</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56235</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58199</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58222</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58225</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58103</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56265</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55479</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>54751</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>51927</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58199</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56093</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58394</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56265</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58335</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56235</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55479</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56056</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58369</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55998</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58222</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58169</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58179</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58103</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55995</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58369</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58335</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58567</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58636</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58639</stringValue>
            </value>
        </filters>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>56056</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Potencional_Blocked_Accounts</name>
        <label>Get Potencional Blocked Accounts</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Role_Records_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DealingStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>40</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Chief Sales Officer (Europe)</description>
        <name>Get_Role_Records_0_0</name>
        <label>Get Role Records 1</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Role_Records_SM_EU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chief Sales Officer (Europe)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Sales Manager (Europe)</description>
        <name>Get_Role_Records_SM_EU</name>
        <label>Get Role Records SM EU</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Role_Records_Ukraine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Manager (Europe)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Sales Manager (Ukraine)</description>
        <name>Get_Role_Records_SM_Ukraine</name>
        <label>Get Role Records SM Ukraine</label>
        <locationX>176</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_selected_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Manager (Ukraine)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Senior Sales Manager (Ukraine)</description>
        <name>Get_Role_Records_Ukraine</name>
        <label>Get Role Records Ukraine</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Role_Records_SM_Ukraine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Senior Sales Manager (Ukraine)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All Chief Sales Officer (Europe)</description>
        <name>Get_User_Directors_0</name>
        <label>Get User Directors SM EU</label>
        <locationX>616</locationX>
        <locationY>1332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Directors_Of_SM_Europe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Role_Records_0_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All Chief Sales Officer (Europe)</description>
        <name>Get_User_Directors_0_0</name>
        <label>Get User Directors SM EU</label>
        <locationX>2464</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Directors_Of_SM_Europe_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Role_Records_0_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All Senior Sales Manager (Ukraine) - 7 days</description>
        <name>Get_User_Directors_SM_Ukraine</name>
        <label>Get User Directors SM Ukraine</label>
        <locationX>1408</locationX>
        <locationY>1332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Directors_Of_SM_Ukraine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Role_Records_Ukraine.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All Senior Sales Manager (Ukraine)</description>
        <name>Get_User_Directors_SM_Ukraine1</name>
        <label>Get User Directors SM Ukraine</label>
        <locationX>3256</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Directors_Of_SM_Ukraine1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Role_Records_Ukraine.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Potencional_Blocked_Accounts</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-11</startDate>
            <startTime>12:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailnotification7daystemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Please note, that your account {!Loop_through_selected_Accounts.Name} will be blocked in 3 days.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;To avoid your account getting into Stop List, please ask the client to pay the outstanding balance {!Loop_through_selected_Accounts.Balance__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DirectorsOfSMEurope</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>DirectorsOfSMUkraine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Email_3_days_to_block_account</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_7_days_to_block_account</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emptyArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FetchedChiefSalesOfficer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FetchedUkraineSeniorSalesOfficer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UserIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIdNotification3Days</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIdNotification7Days</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
