force-app/main/default/flows/Cancel_Opportunity_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>973</locationX>
        <locationY>166</locationY>
        <actionName>c:RedirectToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CancelledOpportunityProduct.Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RedirectToRecord</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>CancelledOpportunityProduct.Opportunity__c</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Copy_Product_Fields</name>
        <label>Copy Product Fields</label>
        <locationX>493</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.ID_ERP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.ID_ERP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.ITENumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.ITENumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.ProductStandard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.ProductStandard__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.ProductSpecLevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.ProductSpecLevel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.SteelGrade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.SteelGrade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.TubeOD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.TubeOD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.TubeWT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.TubeWT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.TubeEnds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.TubeEnds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.Coating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.Coating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.Shop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.Shop__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.CancelReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancel_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.CancelReasonDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancel_Reason_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>retURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.NPP_ERP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.NPP_ERP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.CDD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.CDD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.CoatingSpecification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.CoatingSpecification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.ServiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.ExtraCosts_t__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.ExtraCosts_t__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.FinDept__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.FinDept__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.FinStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.FinStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.InitialQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.InitialQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.LengthSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.LengthSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.Liabilities_t__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.Liabilities_t__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.LineDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.InquiryQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.InquiryQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.InquiryUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.InquiryUnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.Product2Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.ProductCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.ProductType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.ProductType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.ProductionAllowed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.ProductionAllowed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.InquiryQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.InquiryQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.SCDept__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.SCDept__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.ShippingPoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.ShippingPoint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.TechExp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.TechExp__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.Weight_kpm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.Weight_kpm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.Weight_ppf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.Weight_ppf__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.PriceBookEntryId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.InquiryUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.InquiryUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledOpportunityProduct.ConfirmedCDD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.ConfirmedCDD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cancelled_Product</targetReference>
        </connector>
    </assignments>
    <description>Without Margin fields</description>
    <dynamicChoiceSets>
        <name>CancelReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CancelReason__c</picklistField>
        <picklistObject>CancelledOpportunityLineItem__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Cancel Opportunity Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Opportunity Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cancelled_Product</name>
        <label>Create Cancelled Product</label>
        <locationX>656</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>Delete_Canceled_Product</targetReference>
        </connector>
        <inputReference>CancelledOpportunityProduct</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Canceled_Product</name>
        <label>Delete Canceled Product</label>
        <locationX>815</locationX>
        <locationY>165</locationY>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>OLItoCancel</name>
        <label>OLItoCancel</label>
        <locationX>176</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Specify_cancelling_reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>oppProductToCancel</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ID_ERP__c</queriedFields>
        <queriedFields>ITENumber__c</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>ProductStandard__c</queriedFields>
        <queriedFields>ProductSpecLevel__c</queriedFields>
        <queriedFields>SteelGrade__c</queriedFields>
        <queriedFields>TubeOD__c</queriedFields>
        <queriedFields>TubeWT__c</queriedFields>
        <queriedFields>TubeEnds__c</queriedFields>
        <queriedFields>Coating__c</queriedFields>
        <queriedFields>Shop__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>InquiryUnit__c</queriedFields>
        <queriedFields>InquiryQuantity__c</queriedFields>
        <queriedFields>InquiryUnitPrice__c</queriedFields>
        <queriedFields>NPP_ERP__c</queriedFields>
        <queriedFields>CDD__c</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>CoatingSpecification__c</queriedFields>
        <queriedFields>ExtraCosts_t__c</queriedFields>
        <queriedFields>FinDept__c</queriedFields>
        <queriedFields>FinStatus__c</queriedFields>
        <queriedFields>InitialQuantity__c</queriedFields>
        <queriedFields>LengthSize__c</queriedFields>
        <queriedFields>Liabilities_t__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>ProductionAllowed__c</queriedFields>
        <queriedFields>ProductType__c</queriedFields>
        <queriedFields>SCDept__c</queriedFields>
        <queriedFields>ShippingPoint__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>TechExp__c</queriedFields>
        <queriedFields>Weight_kpm__c</queriedFields>
        <queriedFields>Weight_ppf__c</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
    </recordLookups>
    <screens>
        <name>Specify_cancelling_reason</name>
        <label>Specify cancelling reason</label>
        <locationX>332</locationX>
        <locationY>162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_Product_Fields</targetReference>
        </connector>
        <fields>
            <name>Cancel_Reason</name>
            <choiceReferences>CancelReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancel Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cancel_Reason_Details</name>
            <fieldText>Cancel Reason Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>OLItoCancel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancelledOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelledOpportunityLineItem__c</objectType>
    </variables>
    <variables>
        <name>oppProductToCancel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
