force-app/main/default/flows/Cancel_Opportunity_Product_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_email_and_post_for_BO</name>
        <label>Send email and post for BO</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>SendPostFromFlowCancelledProd</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sended_Text</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idCancelledProduct</name>
            <value>
                <elementReference>oppProductToCancel.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendPostFromFlowCancelledProd</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_BO_id</name>
        <label>Assign BO id</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>BO_userId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProductToCancel.Opportunity.Owner__r.AssignedBOS__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Status_of_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCancelledTrue</name>
        <label>SetCancelledTrue</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>oppProductToCancel.Cancelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppProductToCancel.Cancel_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CancelReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppProductToCancel.Cancel_Reason_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancel_Reason_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentOppProduct</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status_of_Opportunity</name>
        <label>Check Status of Opportunity</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Specify_cancelling_reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>oppProductToCancel.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oppProductToCancel.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FalseAllert</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CancelReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CancelReason__c</picklistField>
        <picklistObject>CancelledOpportunityLineItem__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Cancel Opportunity Product 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel opportunity product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_BO</name>
        <label>Get BO</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCancelledTrue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BO_userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OLItoCancel</name>
        <label>OLItoCancel</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_BO_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCurrentOppProduct</name>
        <label>UpdateCurrentOppProduct</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Send_email_and_post_for_BO</targetReference>
        </connector>
        <inputReference>oppProductToCancel</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Sorry, you cannot cancel product in closed Opportunity.</description>
        <name>FalseAllert</name>
        <label>FalseAllert</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FailedTest</name>
            <fieldText>&lt;p&gt;Sorry, you cannot cancel product in closed Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sended_Text</name>
        <label>Sended Text</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>sended_text_to_bo</name>
            <fieldText>&lt;p&gt;Request sended&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Specify_cancelling_reason</name>
        <label>Specify cancelling reason</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_BO</targetReference>
        </connector>
        <fields>
            <name>Cancel_Reason</name>
            <choiceReferences>CancelReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancel Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>test</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cancel_Reason_Details</name>
            <fieldText>Cancel Reason Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OLItoCancel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BO_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BO_userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CancelledOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelledOpportunityLineItem__c</objectType>
    </variables>
    <variables>
        <name>idCancelledRecordForApex</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppProductToCancel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
