force-app/main/default/flows/client_satisfaction_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_5d083743_d494_4f67_aba3_d89c3a40c8a6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Client satisfaction survey</interviewLabel>
    <label>Client satisfaction survey</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_5d083743_d494_4f67_aba3_d89c3a40c8a6</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_c6ca52e2_7aa2_4e7b_acfd_07303df235f3_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c6ca52e2_7aa2_4e7b_acfd_07303df235f3</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 22px;&quot;&gt;Please rate how satisfied you are with &lt;/em&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;«&lt;/strong&gt;&lt;strong style=&quot;font-size: 22px; font-family: Calibri, sans-serif;&quot;&gt;&lt;em&gt;Enquiries&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;»&lt;/strong&gt;&lt;em style=&quot;font-size: 22px; font-family: Calibri, sans-serif;&quot;&gt; &lt;/em&gt;&lt;em style=&quot;font-size: 22px;&quot;&gt;section of our Customer Community Portal&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6400b11f_2cc0_4c44_97dc_61735b25794e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 22px;&quot;&gt;What do you think we can add or change in this section to make it easier for you to use?&lt;/em&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;em&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_5d083743_d494_4f67_aba3_d89c3a40c8a6</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;&lt;em&gt;Thank for your answers&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://interpipe.file.force.com/file-asset-public/Small_2?oid=00DRR00000Jcxs9&amp;amp;v=1&quot; alt=&quot;Small_2&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 24px;&quot;&gt;Thank you for giving us the opportunity to better serve you. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 24px;&quot;&gt;Please help us by taking a few minutes to tell us about the experience you have received during using our Customer Community Portal. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 24px;&quot;&gt;We appreciate your business and want to make sure we meet your expectations&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_c6ca52e2_7aa2_4e7b_acfd_07303df235f3_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
