force-app/main/default/flows/Close_Notification_Work_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>ClosedWResolve</name>
        <choiceIcon>
            <iconName>utility:emoji_bad</iconName>
        </choiceIcon>
        <choiceText>&lt;strong&gt;Closed without Resolving&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Work_Item.Work_Status__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceIcon>
            <iconName>utility:emoji_good</iconName>
        </choiceIcon>
        <choiceText>&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Completed&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Item1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WithoutRes</defaultConnectorLabel>
        <rules>
            <name>Completed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WIStatus</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Work_Item</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Close Notification Work Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Notification Work Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Work_Item</name>
        <label>Get Work Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Notification_Work_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notification_Work_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Item</name>
        <label>Update Work Item (Completed)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Successfull_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resolution_Comment__c</field>
            <value>
                <elementReference>resolvedText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Notification_Work_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Item1</name>
        <label>Update Work Item (w resolving)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Successfull_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resolution_Comment__c</field>
            <value>
                <elementReference>resolvedText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Status__c</field>
            <value>
                <stringValue>ClosedWResolve</stringValue>
            </value>
        </inputAssignments>
        <object>Notification_Work_Item__c</object>
    </recordUpdates>
    <screens>
        <name>Close_Notification_Work_Item</name>
        <label>Close Notification Work Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <fields>
            <name>CloseText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Закриття Notification Work Item&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Перед закриттям Work Item, будь ласка, перевірте інформацію нижче та заповніть дані про виконані дії.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;🔹&lt;strong&gt;Ідентифікатор (Correlation Key):&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;code&gt;{!Get_Work_Item.Correlation_Key__c}&lt;/code&gt;&lt;/p&gt;&lt;p&gt;🔸&lt;strong&gt;Опис / Summary:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;code&gt;{!Get_Work_Item.Summary__c}&lt;/code&gt;&lt;/p&gt;&lt;p&gt;🔹&lt;strong&gt;Work Item:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;code&gt;{!Get_Work_Item.Name}&lt;/code&gt;&lt;/p&gt;&lt;p&gt;🔸&lt;strong&gt;Тип нотифікації:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;code&gt;{!Get_Work_Item.Notification_Type__c}&lt;/code&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Close_Notification_Work_Item_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Close_Notification_Work_Item_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>resolvedText</name>
            <fieldText>Рішення:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Опишіть конкретні дії та результат. Напр.: створено тікет #…, оновлено дані…, інтеграцію повторено…&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WIStatus</name>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>ClosedWResolve</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Переводимо в статус:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Successfull_Close</name>
        <label>Successfull Close</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successIcon</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Work Item успішно закрито!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(74, 167, 60);&quot;&gt;&lt;img src=&quot;https://interpipe--newdev.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068RR000008reYz?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Eo_circle_green_white_checkmark.svg.png&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
