force-app/main/default/flows/Create_Drawing_WS_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Axle_is_not_empty</name>
        <label>Axle is not empty</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Wheel_is_not_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DrawingAxle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DrawingAxle__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Drawing_WS_Link_for_Axle</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Axle_Changed</name>
        <label>Is Axle Changed</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_WS_Link_Wheel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DrawingAxle__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WS_Link_Axle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_WS_Link_for_Axle</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Wheel_Changed</name>
        <label>Is Wheel Changed</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Axle_is_not_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DrawingWheel__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WS_Link_Wheel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_WS_Link_for_Wheel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wheel_is_not_empty</name>
        <label>Wheel is not empty</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DrawingWheel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DrawingWheel__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateDrawingWSLinkforWheel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Create Drawing WS Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Drawing WS Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Drawing_WS_Link_for_Axle</name>
        <label>Create Drawing WS Link for Axle</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Wheel_is_not_empty</targetReference>
        </connector>
        <inputAssignments>
            <field>DrawingVersion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DrawingWSPart__c</field>
            <value>
                <elementReference>$Record.DrawingAxle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DrawingWS__c</field>
            <value>
                <elementReference>$Record.DrawingBase__c</elementReference>
            </value>
        </inputAssignments>
        <object>DrawingWSLink__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateDrawingWSLinkforWheel</name>
        <label>Create Drawing WS Link for Wheel</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>DrawingVersion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DrawingWSPart__c</field>
            <value>
                <elementReference>$Record.DrawingWheel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DrawingWS__c</field>
            <value>
                <elementReference>$Record.DrawingBase__c</elementReference>
            </value>
        </inputAssignments>
        <object>DrawingWSLink__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_WS_Link_for_Axle</name>
        <label>Delete WS Link for Axle</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_WS_Link_Wheel</targetReference>
        </connector>
        <inputReference>Get_WS_Link_Axle</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_WS_Link_for_Wheel</name>
        <label>Delete WS Link for Wheel</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Axle_is_not_empty</targetReference>
        </connector>
        <inputReference>Get_WS_Link_Wheel</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_WS_Link_Axle</name>
        <label>Get WS Link Axle</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Axle_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DrawingWS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DrawingBase__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DrawingWSPart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.DrawingAxle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DrawingVersion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DrawingWSLink__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WS_Link_Wheel</name>
        <label>Get WS Link Wheel</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Wheel_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DrawingWS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DrawingBase__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DrawingVersion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DrawingWSPart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.DrawingWheel__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DrawingWSLink__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WS_Link_Axle</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; {!$Record.DrawingAxle__c} != null) || ISCHANGED({!$Record.DrawingAxle__c}) || ISCHANGED({!$Record.DrawingWheel__c})</filterFormula>
        <object>DrawingVersion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
