force-app/main/default/flows/Create_Order_Item_Child_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Order_Item_General_fields</name>
        <label>Set Order Item General fields</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Item_General.Shop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shop__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_General.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ITENumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Item_General</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Item_Product_Info_KLW_fields</name>
        <label>Set Order Item Product Info KLW fields</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.CDD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CDD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.InqQuantuty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InqQuantuty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.InqUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InqUnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ITENumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.ProdType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.KLWSpec__r.SpecBase__r.ProductType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.ProdKind__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.KLWSpec__r.SpecBase__r.ProductKind__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.Qty_pcs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity_pcs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.Qty_t__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.SpecVersion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.KLWSpec__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.DrawingVersion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Drawing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.TotalSum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_KLW.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Item_Product_Info_KLW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Item_Product_Info_Pipes_fields</name>
        <label>Set Order Item Product Info Pipes fields</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_Pipes.TubeEnds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TubeEnds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_Pipes.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ITENumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_Pipes.Shop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentItem__r.Shop__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_Pipes.Standard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductStandard__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_Pipes.SteelGrade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SteelGrade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_Pipes.TubeLengthSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TubeLengthSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_Pipes.TubeOD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TubeOD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_Pipes.TubeWT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TubeWT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Item_Product_Info_Pipes.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Item_Product_Info_Pipes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_It_Tubes</name>
        <label>Is It Tubes</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Item_Product_Info_KLW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KLW</defaultConnectorLabel>
        <rules>
            <name>Tubes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.MarketSegment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Product_Info_Pipes</targetReference>
            </connector>
            <label>Tubes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_Order_Item_General_Record</name>
        <label>Is there Order Item General Record?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Order_Item_General</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_General</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Item_General_fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_Order_Item_Product_Info_KLW</name>
        <label>Is There Order Item Product Info KLW?</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Create_Order_Item_Product_Info_KLW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Product_Info_KLW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Item_Product_Info_KLW_fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_Order_Item_Product_Info_Pipes</name>
        <label>Is There Order Item Product Info Pipes?</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Create_Order_Item_Product_Info_Pipes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Product_Info_Pipes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Item_Product_Info_Pipes_fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Create Order Item Child Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Order Item Child Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Item_General</name>
        <label>Create Order Item General</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Is_It_Tubes</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.ITENumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderProduct__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop__c</field>
            <value>
                <elementReference>$Record.Shop__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItemGeneral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Item_Product_Info_KLW</name>
        <label>Create Order Item Product Info KLW</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>CDD__c</field>
            <value>
                <elementReference>$Record.CDD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DrawingVersion__c</field>
            <value>
                <elementReference>$Record.Drawing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InqQuantuty__c</field>
            <value>
                <elementReference>$Record.InqQuantuty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InqUnitPrice__c</field>
            <value>
                <elementReference>$Record.InqUnitPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.ITENumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderProduct__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>$Record.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProdKind__c</field>
            <value>
                <elementReference>$Record.KLWSpec__r.SpecBase__r.ProductKind__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProdType__c</field>
            <value>
                <elementReference>$Record.KLWSpec__r.SpecBase__r.ProductType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty_pcs__c</field>
            <value>
                <elementReference>$Record.Quantity_pcs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty_t__c</field>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecVersion__c</field>
            <value>
                <elementReference>$Record.KLWSpec__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>$Record.Stage__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItemProductInfoKLW__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Item_Product_Info_Pipes</name>
        <label>Create Order Item Product Info Pipes</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.ITENumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderProduct__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop__c</field>
            <value>
                <elementReference>$Record.Shop__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Standard__c</field>
            <value>
                <elementReference>$Record.ProductStandard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SteelGrade__c</field>
            <value>
                <elementReference>$Record.SteelGrade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TubeEnds__c</field>
            <value>
                <elementReference>$Record.TubeEnds__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TubeLengthSize__c</field>
            <value>
                <elementReference>$Record.TubeLengthSize__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TubeOD__c</field>
            <value>
                <elementReference>$Record.TubeOD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TubeWT__c</field>
            <value>
                <elementReference>$Record.TubeWT__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItemProductInfoPipes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Item_General</name>
        <label>Get Order Item General</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_Order_Item_General_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemGeneral__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Product_Info_KLW</name>
        <label>Get Order Item Product Info KLW</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_Order_Item_Product_Info_KLW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemProductInfoKLW__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Product_Info_Pipes</name>
        <label>Get Order Item Product Info Pipes</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_Order_Item_Product_Info_Pipes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemProductInfoPipes__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Item_General</name>
        <label>Update Order Item General</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_It_Tubes</targetReference>
        </connector>
        <inputReference>Get_Order_Item_General</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Item_Product_Info_KLW</name>
        <label>Update Order Item Product Info KLW</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <inputReference>Get_Order_Item_Product_Info_KLW</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Item_Product_Info_Pipes</name>
        <label>Update Order Item Product Info Pipes</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>Get_Order_Item_Product_Info_Pipes</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Item_General</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
