force-app/main/default/flows/Populate_Market_Segment_for_Price_List_H.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Populate_Market_Segment_field</name>
        <label>Populate Market Segment field</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Market_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country.Market_Segment__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_there_Country_record</name>
        <label>Is there Country record?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Market_Segment_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>countryId</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Level__c}, 
1, {!$Record.ImportId__c}, 
2, {!$Record.Parent__r.ImportId__c},
3, {!$Record.Parent__r.Parent__r.ImportId__c},
4, {!$Record.Parent__r.Parent__r.Parent__r.ImportId__c},
{!$Record.Parent__r.Parent__r.Parent__r.Parent__r.ImportId__c})</expression>
    </formulas>
    <interviewLabel>Populate Market Segment for Price List (H) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Market Segment for Price List (H)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Country</name>
        <label>Get Country</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_Country_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ID_ERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>countryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Market_Segment__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Level__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Market_Segment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PriceListH__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
