force-app/main/default/flows/Recover_Cancelled_Opportunity_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>1136</locationX>
        <locationY>160</locationY>
        <actionName>c:RedirectToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recoveredOppProduct.OpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RedirectToRecord</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>recoveredOppProduct.OpportunityId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Copy_Product_Fields</name>
        <label>Copy Product Fields</label>
        <locationX>635</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.ID_ERP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.ID_ERP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.ITENumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.ITENumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.ProductStandard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.ProductStandard__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.ProductSpecLevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.ProductSpecLevel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.SteelGrade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.SteelGrade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.TubeOD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.TubeOD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.TubeWT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.TubeWT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.TubeEnds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.TubeEnds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.Coating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.Coating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.Shop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.Shop__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.UnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>retURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.NPP_ERP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.NPP_ERP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.CDD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.CDD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.ServiceDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.CoatingSpecification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.CoatingSpecification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.ExtraCosts_t__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.ExtraCosts_t__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.FinDept__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.FinDept__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.FinStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.FinStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.InitialQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.InitialQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.LengthSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.LengthSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.Liabilities_t__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.Liabilities_t__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.LineDescription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.ListPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.InquiryUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.InquiryUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.InquiryUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.InquiryUnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.Product2Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.ProductCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.ProductType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.ProductType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.ProductionAllowed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.ProductionAllowed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.InquiryQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.InquiryQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.SCDept__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.SCDept__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.ShippingPoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.ShippingPoint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.TechExp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.TechExp__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.Weight_kpm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.Weight_kpm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.Weight_ppf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.Weight_ppf__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recoveredOppProduct.ConfirmedCDD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.ConfirmedCDD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <description>Without Margin fields</description>
    <dynamicChoiceSets>
        <name>CancelReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CancelReason__c</picklistField>
        <picklistObject>CancelledOpportunityLineItem__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Recover Cancelled Opportunity Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recover Cancelled Opportunity Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity_Product</name>
        <label>Create Opportunity Product</label>
        <locationX>793</locationX>
        <locationY>162</locationY>
        <connector>
            <targetReference>Delete_Canceled_Product</targetReference>
        </connector>
        <inputReference>recoveredOppProduct</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Canceled_Product</name>
        <label>Delete Canceled Product</label>
        <locationX>943</locationX>
        <locationY>159</locationY>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CancelledOpportunityLineItem__c</object>
    </recordDeletes>
    <recordLookups>
        <name>COLItoCancel</name>
        <label>COLItoCancel</label>
        <locationX>334</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CancelledOpportunityLineItem__c</object>
        <outputReference>cancelledOpportunityProduct</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>ProductStandard__c</queriedFields>
        <queriedFields>ProductSpecLevel__c</queriedFields>
        <queriedFields>SteelGrade__c</queriedFields>
        <queriedFields>TubeOD__c</queriedFields>
        <queriedFields>TubeWT__c</queriedFields>
        <queriedFields>TubeEnds__c</queriedFields>
        <queriedFields>Coating__c</queriedFields>
        <queriedFields>Shop__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>UnitPrice__c</queriedFields>
        <queriedFields>ID_ERP__c</queriedFields>
        <queriedFields>ITENumber__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>NPP_ERP__c</queriedFields>
        <queriedFields>CDD__c</queriedFields>
        <queriedFields>ServiceDate__c</queriedFields>
        <queriedFields>CoatingSpecification__c</queriedFields>
        <queriedFields>Discount__c</queriedFields>
        <queriedFields>ExtraCosts_t__c</queriedFields>
        <queriedFields>FinDept__c</queriedFields>
        <queriedFields>FinStatus__c</queriedFields>
        <queriedFields>InitialQuantity__c</queriedFields>
        <queriedFields>LengthSize__c</queriedFields>
        <queriedFields>Liabilities_t__c</queriedFields>
        <queriedFields>LineDescription__c</queriedFields>
        <queriedFields>ListPrice__c</queriedFields>
        <queriedFields>InquiryUnitPrice__c</queriedFields>
        <queriedFields>InquiryUnit__c</queriedFields>
        <queriedFields>InquiryQuantity__c</queriedFields>
        <queriedFields>Product2Id__c</queriedFields>
        <queriedFields>ProductCode__c</queriedFields>
        <queriedFields>ProductionAllowed__c</queriedFields>
        <queriedFields>ProductType__c</queriedFields>
        <queriedFields>SCDept__c</queriedFields>
        <queriedFields>ShippingPoint__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>TechExp__c</queriedFields>
        <queriedFields>Weight_kpm__c</queriedFields>
        <queriedFields>Weight_ppf__c</queriedFields>
        <queriedFields>PriceBookEntryId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Price_Book_Entry</name>
        <label>Price Book Entry</label>
        <locationX>493</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_Product_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cancelledOpportunityProduct.PriceBookEntryId__c</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>recoveredOppProduct.PricebookEntryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Recover_Opportunity_Product</name>
        <label>Recover Opportunity Product</label>
        <locationX>176</locationX>
        <locationY>159</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COLItoCancel</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Recover_Opportunity_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cancelledOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelledOpportunityLineItem__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recoveredOppProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
