force-app/main/default/flows/test_5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_9479985c_7c9a_4cf0_9527_4fa00ea24d4e</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_00e21238_fb34_4c2e_88f6_ca30f3305489</name>
        <choiceText>Expansive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expansive</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_326fd184_8092_42f0_8561_3d5ec41f41ea</name>
        <choiceText>Small</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Small</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4e92059f_6ea9_4fa6_9cfb_9b03286db395</name>
        <choiceText>One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_524c6f5a_d0ce_4f47_b34a_cd43c8ec14ee</name>
        <choiceText>50 %</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50 %</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_544595ef_4d88_4d7f_8742_3fa4f2b6d5e2</name>
        <choiceText>20 %</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20 %</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7fa02bdb_85b1_437a_83b7_a3fcab80d14a</name>
        <choiceText>Three</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Three</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_95211106_c775_465b_9335_8ff4d8aeb342</name>
        <choiceText>Two</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Two</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9a4a1e54_4ce1_4447_a2e8_156b29d161e7</name>
        <choiceText>Bad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ec4d2aa6_8ee7_4835_a509_6afa56fa5a17</name>
        <choiceText>10 %</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10 %</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_efc42d53_bef3_4426_9ab3_a2e11e2478d3</name>
        <choiceText>100 %</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100 %</stringValue>
        </value>
    </choices>
    <interviewLabel>TEST 5</interviewLabel>
    <label>TEST 5</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_9479985c_7c9a_4cf0_9527_4fa00ea24d4e</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_72e31fb3_636f_4f82_85b5_c2cd0951a764_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>thumbsUp</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_72e31fb3_636f_4f82_85b5_c2cd0951a764_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_72e31fb3_636f_4f82_85b5_c2cd0951a764_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_72e31fb3_636f_4f82_85b5_c2cd0951a764</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Do you like our products?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8842ab18_bd84_4bdf_9c2f_ccb4c7814700</name>
            <choiceReferences>c_9a4a1e54_4ce1_4447_a2e8_156b29d161e7</choiceReferences>
            <choiceReferences>c_00e21238_fb34_4c2e_88f6_ca30f3305489</choiceReferences>
            <choiceReferences>c_326fd184_8092_42f0_8561_3d5ec41f41ea</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Why Not Like?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_72e31fb3_636f_4f82_85b5_c2cd0951a764</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6eafb744_36a1_4e94_a131_ff1e74d84cb0</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;What you think about it?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2300b00d_9de9_475f_962f_129137d30048</name>
            <choiceReferences>c_ec4d2aa6_8ee7_4835_a509_6afa56fa5a17</choiceReferences>
            <choiceReferences>c_544595ef_4d88_4d7f_8742_3fa4f2b6d5e2</choiceReferences>
            <choiceReferences>c_524c6f5a_d0ce_4f47_b34a_cd43c8ec14ee</choiceReferences>
            <choiceReferences>c_efc42d53_bef3_4426_9ab3_a2e11e2478d3</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;% of satisfication&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_50275b27_038b_46e1_b59a_58e662c17b0e</name>
            <choiceReferences>c_4e92059f_6ea9_4fa6_9cfb_9b03286db395</choiceReferences>
            <choiceReferences>c_95211106_c775_465b_9335_8ff4d8aeb342</choiceReferences>
            <choiceReferences>c_7fa02bdb_85b1_437a_83b7_a3fcab80d14a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Singe selection&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a51775de_6232_4e41_8a45_3d08aba59a86_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a51775de_6232_4e41_8a45_3d08aba59a86</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Score&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_9479985c_7c9a_4cf0_9527_4fa00ea24d4e</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_72e31fb3_636f_4f82_85b5_c2cd0951a764_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dislike</text>
    </textTemplates>
    <textTemplates>
        <name>q_72e31fb3_636f_4f82_85b5_c2cd0951a764_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Like</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Thank you&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Welcome&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_72e31fb3_636f_4f82_85b5_c2cd0951a764_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a51775de_6232_4e41_8a45_3d08aba59a86_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
