force-app/main/default/flows/test_3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_8db3c929_89a9_4811_be1b_8fbabea82f03</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_21f1b5eb_72c9_4fa9_a566_c2880dae7150</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2a47e9d3_c04d_49a8_afc1_772427131686</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_71bd191f_e65c_4ba1_82d2_14bdf9144f53</name>
        <choiceText>Two</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Two</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_75df9198_6699_4ce9_a4a9_5d499d52cc6c</name>
        <choiceText>One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8a632da5_7748_4c41_83e8_04f40f36ed21</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9fe630b0_6f4b_43fc_b045_f8a2847fc917</name>
        <choiceText>One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cb40acb8_9d55_471f_83fe_0210ae2e951a</name>
        <choiceText>Three</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Three</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d04ffe3d_1424_4ad2_852a_96764610d92d</name>
        <choiceText>Three</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Three</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dd5d0b00_7c0d_44dd_b3bd_aadd1fef899d</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e2eff6ca_9f08_4473_8ce6_14e3519a95cd</name>
        <choiceText>Two</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Two</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ee1196d2_e465_4ef5_ba71_33c2a4c02773</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <interviewLabel>TEST 3</interviewLabel>
    <label>TEST 3</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_8db3c929_89a9_4811_be1b_8fbabea82f03</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_532fc857_3b16_4fdb_9e00_4fa6d6b9fad8</name>
            <choiceReferences>c_75df9198_6699_4ce9_a4a9_5d499d52cc6c</choiceReferences>
            <choiceReferences>c_e2eff6ca_9f08_4473_8ce6_14e3519a95cd</choiceReferences>
            <choiceReferences>c_cb40acb8_9d55_471f_83fe_0210ae2e951a</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Question 1&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9b1351fd_8440_4a68_8064_7a4465fe1278</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Long text&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter long text</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_36248947_f71e_4bf8_b262_4d505e5428f7</name>
            <dataType>Date</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Date&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter date</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_70856d91_82b7_470c_8c28_10e1896a4eb6_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsColorCodeEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <name>q_70856d91_82b7_470c_8c28_10e1896a4eb6</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Quality scope&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_07b37e5c_cc8d_4ff9_a719_e2f02915f15a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_07b37e5c_cc8d_4ff9_a719_e2f02915f15a</name>
            <choiceReferences>c_21f1b5eb_72c9_4fa9_a566_c2880dae7150</choiceReferences>
            <choiceReferences>c_dd5d0b00_7c0d_44dd_b3bd_aadd1fef899d</choiceReferences>
            <choiceReferences>c_2a47e9d3_c04d_49a8_afc1_772427131686</choiceReferences>
            <choiceReferences>c_8a632da5_7748_4c41_83e8_04f40f36ed21</choiceReferences>
            <choiceReferences>c_ee1196d2_e465_4ef5_ba71_33c2a4c02773</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Rating&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_0ec52e57_d6c0_45e1_b9ab_013540e0160e_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0ec52e57_d6c0_45e1_b9ab_013540e0160e</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Score&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b51598dd_8ef3_442d_a2c1_6acf0a07be1c</name>
            <choiceReferences>c_9fe630b0_6f4b_43fc_b045_f8a2847fc917</choiceReferences>
            <choiceReferences>c_71bd191f_e65c_4ba1_82d2_14bdf9144f53</choiceReferences>
            <choiceReferences>c_d04ffe3d_1424_4ad2_852a_96764610d92d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Single selection&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1070dea5_ce27_4bb5_92f2_426e63ad4d5f</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Slider&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_4f1f78b2_91a4_4c09_9269_153b7651fbe3_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>thumbsUp</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_4f1f78b2_91a4_4c09_9269_153b7651fbe3_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_4f1f78b2_91a4_4c09_9269_153b7651fbe3_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4f1f78b2_91a4_4c09_9269_153b7651fbe3</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Like or no&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_8db3c929_89a9_4811_be1b_8fbabea82f03</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_4f1f78b2_91a4_4c09_9269_153b7651fbe3_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dislike</text>
    </textTemplates>
    <textTemplates>
        <name>q_4f1f78b2_91a4_4c09_9269_153b7651fbe3_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Like</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Thank you&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Survey</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Hello&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_07b37e5c_cc8d_4ff9_a719_e2f02915f15a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_0ec52e57_d6c0_45e1_b9ab_013540e0160e_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_4f1f78b2_91a4_4c09_9269_153b7651fbe3_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_70856d91_82b7_470c_8c28_10e1896a4eb6_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
