force-app/main/default/flows/User_Details_Custom.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>User Details (Custom) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Details (Custom)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Displays the details and status of an external user.</description>
        <name>User_Details</name>
        <label>User Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtUserDetails</name>
            <fieldText>&lt;p&gt;{!ttUserDetails}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtPasswordLockout</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;PASSWORD LOCKED&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This user&apos;s password is locked because of too many failed login attempts.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vUserLogin.IsPasswordLocked</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txtUserInactive</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;USER INACTIVE&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This user has been deactivated. You may reactivate this user to enable access to Experience Cloud sites.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vUser.IsActive</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtMismatchedEmails</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: sans-serif; color: rgb(255, 0, 0);&quot;&gt;MISMATCHED EMAILS&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;This user&apos;s email address does not match the Contact record. Please keep this in mind when communicating and resetting passwords.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vUser.extuserutils__UserContactEmailMatch__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txtFrozen</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;USER FROZEN&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;This user was frozen by an admin and cannot log in.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vUserLogin.IsFrozen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>extuserutils__External_User_Details</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_User_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Retrieves the Contact, User, and other status data about the specified contact.</description>
        <name>Get_Contact_User_Data</name>
        <label>Get Contact &amp; User Data</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>User_Details</targetReference>
        </connector>
        <flowName>extuserutils__Get_External_User</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vContact</assignToReference>
            <name>vContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFoundContact</assignToReference>
            <name>vFoundContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFoundExternalUser</assignToReference>
            <name>vFoundExternalUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLastLoginDateTime</assignToReference>
            <name>vLastLoginDateTime</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLastPasswordResetDateTime</assignToReference>
            <name>vLastPasswordResetDateTime</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vNumberFailedLogins</assignToReference>
            <name>vNumberFailedLogins</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUser</assignToReference>
            <name>vUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUserLogin</assignToReference>
            <name>vUserLogin</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <description>Displays user details such as Username, Email, last login, etc, on multiple screens.</description>
        <name>ttUserDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;USERNAME&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;{!vUser.Username}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;EMAIL&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;{!vUser.Email}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt;PROFILE&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: sans-serif; font-size: 14px;&quot;&gt;{!vUser.Profile.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;CREATED DATE&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;{!vUser.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;LAST LOGIN&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;{!vLastLoginDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;DAYS INACTIVE&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;: &lt;/span&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;{!vContact.DaysInactive__c}&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;PASSWORD LAST RESET:&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;{!vLastPasswordResetDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;FAILED LOGIN ATTEMPTS:&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;{!vNumberFailedLogins}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Salesforce recordId of the Contact or Person Account record for the user details to display.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact record being viewed.</description>
        <name>vContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Indicates whether a Contact record was found.</description>
        <name>vFoundContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Indicates whether an associated user was found.</description>
        <name>vFoundExternalUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Holds the date and time of the last login.</description>
        <name>vLastLoginDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the date &amp; time of the last password reset.</description>
        <name>vLastPasswordResetDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indicates whether the User record and Contact record representing this person have different email addresses.</description>
        <name>vMismatchedEmails</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Holds the number of recent failed login attempts.</description>
        <name>vNumberFailedLogins</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Represents the User record associated with the Contact being viewed.</description>
        <name>vUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Indicates whether the user&apos;s email address matches the Contact record&apos;s email address.</description>
        <name>vUserEmailMatchesContactEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Holds login status data for this user.</description>
        <name>vUserLogin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserLogin</objectType>
    </variables>
</Flow>
